.env
.idea
.venv
__pycache__
*.egg-info/
build/
dist/
providers.json
tavily_domains.json
cookies.txt
batch-result.txt
*.asr.lock
*.prepare.json
proofread_prompt.md
translate_prompt.md
glossary_prompt.md
split_prompt.md
*.chroma/
*.chroma_db/
chroma_db/
uv.lock
template.ass
